blockquote  {
  margin: 0;
  margin: 8px 0px;
  padding: 4px 8px 4px 0px;
  border-left: 8px solid #727272;
  padding-left: 8px;
}

p {
  margin: 4px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 5px;
}

.code-block {
  font-family: 'Courier New', Courier, monospace;
  background-color: #d8d8d8;
}

img {
  max-width: 85%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 2px 5px;
  border: 1px solid black;
}
